<%= render "shared/header" %>

<h2><%= @gear.name %></h2>

<%= form_with scope: :gear, url: gears_path, local: true do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>
   
    <p> 
      <%= form.label :box_name %><br>
      <%= form.select :box_name, [
        ["run/camp"], 
        ["run/climb"],
        ["electronics"],
        ["home"],
        ["cameras"],
        ["j"],
        ["k"],
        ["xmas"],
        ["bookshelf"],
        ["other"],
        ["top of cabinets"],
        ["kindred's cabinet"]
      ] %>
		</p>
    <p>
      <%= form.label :photo %>
      <%= form.file_field :photo %>
    </p>
		<p>
			<% if @gear.photo.attached? %>
				<img src="<%= (url_for(@gear.photo)) %>" style="max-width: 70%; margin: 0; padding: 0;">
			<% end %>
		</p>
    <p>
      <%= form.submit value: 'Save' %>
    </p>
  <% end %>
  