<%= render "shared/header" %>

<%= flash[:notice] %>
<h4>Import data</h4>
<%= form_tag import_gears_path, multipart: true do %>
<%= file_field_tag :file %>
<%= submit_tag "Import from file" %>
<% end %>

<input type="text" id="input" placeholder="what are you looking for?">

<table id="table" class="table table-bordered table-striped">
		<thead><th>gear</th><th>box</th></thead>
		<tbody>			
			

			<%= @gear.each do |gear| %>
				<tr>
					<td><%= link_to gear.name, gear_path(gear) %>						
						</td>
					<td><%= gear.box_name %></td>
				</tr>
			<% end %>
		</tbody>
	</tr>
</table>


<script>
$('#input').keyup(function () {
	table_search($('#input').val(),$('#table tbody tr'),'012');
});
</script>