<%= render "shared/header" %>

<h2>Add Gear</h2>

<%= form_with scope: :gear, url: gears_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p> 
    <%= form.label :box_name %><br>
    <%= form.select :box_name, [
      ["run/camp", 1], 
      ["run/climb", 2],
      ["electronics", 3],
      ["home", 5],
      ["cameras", 6],
      ["j", 7],
      ["k", 8],
      ["xmas", 9],
      ["bookshelf", 10],
      ["other", 11],
      ["top of cabinets", 12],
      ["kindred's cabinet", 13]
    ] %>
  </p>
 
  <p>
    <%= form.submit value: 'Save' %>
  </p>
<% end %>

<p></p>

<h2>Import a CSV</h2>
<p><strong><u>Required</u></strong>. CSV's 1st row should have the following header values. Your gear name and box name entries will start at the 2nd row.</p>
<blockquote>
<table>
  <tr><td><strong>name</strong></td><td><strong>box_name</strong></td></tr>
  <tr><td><strong>(your gear name)</strong></td><td><strong>(your box name)</strong></td></tr>
</table>
</blockquote>

<%= flash[:notice] %>
<%= form_tag import_gears_path, multipart: true, style: 'background-color: #32363d;' do %>
<%= file_field_tag :file, style: 'margin: 25px' %>
<%= submit_tag "Import" %>
<% end %>

